body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}


.txtRed {
    color: red;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* or any width */
}

/*Card styling*/
.custom-card {
    background-color: #000;
    /* black card */
    color: white;
    /* white text */
    border: 2px solid #ff0000;
    /* optional red outline */
}

.custom-title {
    color: #ff0000;
    /* red title */
}

.custom-card:hover {
    border-color: #b30000;
    transform: translateY(-3px);
    transition: 0.2s ease;
}

.list-group-item {
    background-color: black;
    /* match your dark theme */
    color: white;
    /* white text */
    border-color: red;
    /* optional red borders */
}